@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

.whatsapp-link{
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 30px;
  left: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 55px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp{
  margin-top: -14vh
}

.top{
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 30px;
  right: 40px;
  color: black;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  z-index: 1000;
}

.toppage{
  margin-top: 16px;
}

#seta{
  color: #fff;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}


header#menu{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  height: 11vh;
  box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.479);
}

img#imgLogo{
  height: 100%;
}

a.links{
  font-family: sans-serif;
  text-decoration: none;
  font-weight:lighter;
}

.links:hover{
  color: #9d2127;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.223);
}

section#inicio{
  height: 89vh;
}

section#inicioWrite{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  height:20vh;
  line-height: 2.4em;
}

#Inicio1{
  color: black;
  font-size: 2em;
  font-weight: 400;
}

#Inicio2{
  color: #9d2127;
  font-size: 1em;
  font-weight: 600;
}

button#orcamento{
  color: white;
  font-size: 1.7em;
  font-weight: 400;
  background-color: #9d2127;
  border: 2px solid #9d2127;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wpp{
  width: 40px;
  padding-left: 10px;
}

@media(max-width:1050px){
  #Inicio1{
    font-size: 1.5em;
  }
  
  #Inicio2{
    font-size: 1.1em;
  }
  section#inicioWrite{
    line-height: 1.7em;
  }
  button#orcamento{
    font-size: 1.3em;
    font-weight: 400;
  }
}

section#ns{
  height: 80vh;
  background-color: #9d2127;
  display: flex;
  align-items: center;
}

section#ns > h1 {
  font-size: 7.5em;
  font-weight: bold;
  font-family: 'Asap Condensed', sans-serif;
  line-height: 125px;
  width: 50%;
  color: lightgrey;
  padding-left: 45px;
}
.swiper {
  width: 500px;
  height: 70vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#car{
  margin-left: 20%;
}

#slider {
  display: flex;
  align-items: end;
  width: 50%;
}

div#headerLinks{
  display: none;
}

.swiper-pagination-bullet{
  background-color: #9d2127;
}

.swiper-button-prev{
  color: #9d2127 ;
}

.swiper-button-next{
  color: #9d2127 ;
}

@media (max-width:1240px){
  section#ns > h1 {
    font-size: 4.5em;
    line-height: 75px;
  }
}

section#nsP2{
  height: 20vh;
  background-color: #831218;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
}

div#Facebook{
  background-color: lightgray;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

section#fbframe{
  width: 40%;
  display: flex;
  margin-left: 30px;
}

#frameWrite{
  width: 60%;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

#frameWrite a{
  color: #9d2127;
}

p#p1{
  font-size: 3.53em;
  line-height: 70px;
  font-weight: 600;
  padding-right: 30px;
}

p#p2{
  padding-right: 45px;
  font-size: 1.7em;
  font-weight: 400;
}

section#qsn{
  width: 100%;
  height: 80vh;
  background-color: #9d2127;
  display: flex;
}

section#qsn2{
  width: 100%;
  height: 20vh;
  background-color: #831218;
}

div#qsn1{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

p#qsnp{
  font-size: 7.5em;
  font-weight: bold;
  font-family: 'Asap Condensed', sans-serif;
  line-height: 125px;
  width: 50%;
  color: lightgrey;
  padding-left: 45px;
}

div#qsn2{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: justify;
  padding-right: 10px;
}

#msr{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
  height:20vh;
  font-size: 4em;
  color: lightgrey;
  font-weight: bold;
}

div#allContato{
  height: 1100pxvh;
  background-color: lightgray;
}

section#contatoTitle{
  text-align: center;
  padding: 10px;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 6em;
  color:#9d2127;
  font-weight: bold;
}

section#maps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

section#info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
}

.infoElements{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoElements img{
  width: 40px;
}

.infoElements p {
  padding: 20px;
  margin-top: 15px;
  font-size: 0.93em;
}

#dadosCriador{
  width: 100%;
  height: 150px;
  background-color: rgb(190, 190, 190) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span#cttp{
  color:#9d2127;
}

span#ctta{
  color:#9d2127;
}

#menuC{
  display: none;
}

.mapouter{position:relative;text-align:right;width:800px;height:593px;}
.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:593px;}
.gmap_iframe {height:593px}

@media(max-width:1330px){
  #textao{
    font-size: 0.8em;
  }

  p#qsnp{
    font-size: 4em;
    line-height: 80px;
  }

  p#msr{
    font-size: 2em;
  }

  section#contatoTitle{
    font-size: 3.4em;
  }

  section#fbframe{
    margin-left: 0px;
  }

  section#maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1300px;
    row-gap: 50px;
  }
  .mapouter{
    width: 90%;
  }



}

@media(max-width:1140px){
  section#info p {
    display: none;
  }

  section#info {
    height: 200px;
    display: flex;
    align-items: baseline;
  }

}

@media(max-width:850px){
  #textao{
    font-size: 0.7em;
  }
  p#qsnp{
    font-size: 3.8em;
  }

}

/*celular = 800px para baixo*/

@media(max-width:800px){ /*celular*/
  header#menu{
    display: none;
  }
  #menuC{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 10vh;
    width: 100%;
  }
  #menuC img {
    width: 20%;
  }

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 31px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(3px * 3 + 11px * 2);
  }
  
  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background:#9d2127;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
  }
  
  /***** Collapse Animation *****/
  
  .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,margin,transform;
    transition-delay: calc(0s + 0.35s),0s,0s;
  }
  
  .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: top,opacity;
    transition-duration: 0.35s,0s;
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
  }
  
  .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 11px - 4px);
    margin-bottom: calc(11px + 4px/ 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
  }
  
  #checkbox:checked + .toggle .bar--middle {
    top: calc(50% + 11px);
    opacity: 0;
    transition-duration: 0.35s,0s;
    transition-delay: 0s,calc(0s + 0.35s);
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
  }

  div#headerLinks{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    align-items: center;
    height: 90vh;
    width: 100%;
    row-gap: 30px;
  }

  div#headerLinks a {
    padding: 30px;
    font-size: 1.5em;
    font-weight: 400;
  }

  a#inicioBlack{
    color: #9d2127;
  }

  a.links{
    color: black;
  }

  section#inicioWrite{
    height: 40vh;
    display: flex;
    flex-direction: column;
    line-height: 45px;
  }

  p#Inicio1{
    font-size: 1.2em;
}

  section#inicio{
    height: 80vh;
  }

  section#ns{
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  section#ns h1{
    font-size: 3em;
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .swiper {
    width: 90vw;
    height: 70vh;
    margin: 0px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 50px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #car{
    margin-left: 0px;
  }
  
  #slider {
    display: flex;
    align-items: end;
    width: 100%;
  }

  div#Facebook{
    height: 70vh;
  }

  div#Facebook section#fbframe{
    display: none;
  }

  section#frameWrite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  section#frameWrite #p1{
    
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  section#frameWrite #p2{
    margin: 0px;
    padding: 0px;
  }

  section#qsn{
    display: flex;
    text-align: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
  }

  div#qsn1{
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
  }

  p#qsnp{
    margin-left: 10%;
    margin-top: 10%;
    padding: 0px;
    text-align: center;
  }

  p#textao{
    font-size: 0.73em;
  }

  div#qsn2{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    width: 100%;
  }

  div#allContato{
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  section#maps{
    display: block;
  }

  .mapouter{
    height: 10vh;
    margin: auto;
  }

  div#contate-nos{
    padding-top: 550px;
  }
  
  section#info{
    padding-top: 135px;
    column-gap: 30px;
  }

  section#dadosCriador{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  a.top{
    display: none;
  }
}